<template>
    <form>
        <section id="artist">
            <input class="input" type="text">
        </section>
    </form>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
