<template>
    <section class="section">
        <div class="container">
            <form>
                <section id="artist_infos">
                    <input class="input" type="text" placeholder="Nom de l'artiste" v-model="artist_name">
                    <input class="input" type="text" placeholder="Diminutif" v-model="short">
                    <input class="input" type="text" placeholder="Pays d'origine" v-model="country">
                    <input class="input" type="text" placeholder="Année de début" v-model="begin">
                    <label class="label">En activité ?</label>
                    <select v-model="activity" >
                        <option value=true>Oui</option>
                        <option value=false>Non</option>
                    </select>
                    <input class="input" type="text" placeholder="Label" v-model="label">
                    <input class="input" type="text" placeholder="Tag, à séparé par ;" v-model="tag">
                </section>
                <section id="album">
                    <label class="label">Nombre d'album(s)</label>
                    <input class="number" type="number" v-model="album_number">

                    <section v-for="(album, index) in album_number">
                        <section>

                            <input class="input" type="text" placeholder="Nom">
                            <input class="input" type="date">
                            <input class="input" type="text" placeholder="Style">

                            <label class="label">Nombre de piste</label>
                            <input class="number" type="number" v-model="$index">


                        </section>
                    </section>
                </section>
            </form>
        </div>
    </section>
</template>

<script>
    export default {
        data:{
            artist_name:'',
            short:'',
            country:'',
            begin:'',
            activity:'',
            label:'',
            tag:'',
            album_number:'',
            album_name:'',
            album_release:'',
            album_style:'',
            song_number:{},
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
